# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
env/
venv/
.venv/

# Environment variables
.env
.env.*

# Database
*.db
*.sqlite3

# Logs
*.log

# Models (VERY IMPORTANT - don't push trained models)
models/
*.pkl

# IDEs / Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# Build files
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Temporary files
tmp/
temp/